policy_module(allsysd_open, 1.0)

gen_require(type systemd_sysctl_t;)
gen_require(type init_t;)
gen_require(type mnt_t;)
gen_require(type var_t;)
gen_require(type selinux_config_t;)
gen_require(type initrc_t;)
gen_require(type fsadm_t;)

allow init_t systemd_sysctl_t:process { siginh noatsecure };
allow systemd_sysctl_t mnt_t:dir {search getattr};
allow systemd_sysctl_t selinux_config_t:dir search;

allow init_t initrc_t:process siginh;
allow initrc_t fsadm_t:process {siginh noatsecure noatsecure rlimitinh};

allow init_t mnt_t:dir {watch};
allow init_t var_t:dir {write};
