policy_module(kernel_denies, 1.2)

gen_require(type kernel_t;)
gen_require(type mnt_t;)
gen_require(type mount_t;)
gen_require(type init_t;)
gen_require(type systemd_generator_t;)
gen_require(type selinux_config_t;)
gen_require(type kmod_t;)
gen_require(type initrc_t;)
gen_require(type udev_t;)
gen_require(type systemd_tmpfiles_t;)
gen_require(type user_runtime_t;)
gen_require(type systemd_user_runtime_t;)

allow kernel_t mnt_t:dir {search};
allow init_t systemd_generator_t:process {noatsecure};
allow systemd_generator_t selinux_config_t:dir {search};
allow systemd_generator_t mnt_t:dir {read};
allow init_t kmod_t:process {noatsecure};
allow kmod_t mnt_t:dir {search};
allow init_t initrc_t:process {noatsecure};
allow init_t udev_t:process {noatsecure siginh};
allow initrc_t mount_t:process {noatsecure rlimitinh siginh};

allow init_t systemd_tmpfiles_t:process {noatsecure siginh};

allow init_t user_runtime_t:dir {write add_name};
allow init_t systemd_user_runtime_t:dir {create write remove_name};
