policy_module(login_tty_pty, 1.1)

gen_require(`
  type sysadm_t;
  type init_t;
')

## without this line, a successful login would
## result in repeating the login process
allow sysadm_t init_t:fd use;
