policy_module(login_tty_pty, 1.1)

gen_require(`
  type sshd_t;
  type ssh_keygen_t;
  type sysadm_t;
  type init_t;
  type mnt_t;
  type proc_t;
  type shadow_t;
  type getty_t;
  type local_login_t;
  type kernel_t;
  type kmod_t;
')

## without this line, a successful login would
## result in repeating the login process
allow sysadm_t init_t:fd use;

## allow sshd to be alive
allow sshd_t mnt_t:dir {search getattr};
allow init_t sshd_t:process {siginh noatsecure};

## allow sshd to use keys
allow ssh_keygen_t mnt_t:dir {search};

## without the login program having access to the shadow file,
## every login attempt would be incorrect
### Login program is impersonated by local_login_t for tty login
### and by sshd_t for logins via pty(ssh sessions)
allow local_login_t shadow_t:file {read open getattr};
allow sshd_t shadow_t:file {read open getattr};
 
## allow agetty_t to access... stuff
## I guess this permits the allocation of a tty for the 
## authenticated user
allow init_t getty_t:process {noatsecure};
allow getty_t mnt_t:dir {search};

## dunno what it is... but without tty login does not work
allow kernel_t mnt_t:dir {search};
allow kmod_t mnt_t:dir {search};
