policy_module(networkd_up, 1.4)

gen_require(`
  type init_t;
  type unlabeled_t;
  type systemd_networkd_t;
  type systemd_resolved_t;
  type systemd_resolved_runtime_t;
  type selinux_config_t;
  type mnt_t;
  type etc_t;
  type ifconfig_t;
')
allow init_t unlabeled_t:dir mounton;
allow systemd_networkd_t selinux_config_t:dir search;
allow systemd_networkd_t mnt_t:dir {search read watch getattr};
allow systemd_networkd_t etc_t:file {map};
allow init_t systemd_networkd_t:process noatsecure;
allow init_t systemd_resolved_runtime_t:dir mounton;
allow init_t systemd_resolved_t:process noatsecure;
allow systemd_resolved_t mnt_t:dir {search getattr read watch};

## for administrative purposes
allow ifconfig_t mnt_t:dir {search};
